@import "tailwindcss";
@theme
{
  --color-primary: #8f0101;
  --color-secondary: #202020;
  --color-thirdary: #ffffff;
  --font-title: 'Unbounded', sans-serif;
  --font-subtitle: 'Acme', sans-serif;
  --font-main-text: 'Signica', sans-serif;
}
